---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Landing from "../components/Landing.astro";
---

<Layout title="some">
  <main class="bg-gray-2 h-[100dvh] p-4">
    <div
      class="h-full max-h-full overflow-scroll border-3 border-gray-5 bg-gray-1"
    >
      <div class="flex justify-between" style="">
        <div class="flex items-center px-8">design.tnixc.space</div>
        <Nav />
      </div>
      <Landing />
    </div>
  </main>
</Layout>
